<ion-header>
  <ion-toolbar class="text-center">
    <ion-title>Consultant List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div class="table-responsive">
        <table class="table table-bordered border-secondary align-middle text-white mt-2 table-min-width">
          <colgroup width="5%"></colgroup>
          <colgroup width="25%"></colgroup>
          <colgroup width="25%"></colgroup>
          <colgroup width="15%"></colgroup>
          <colgroup width="30%"></colgroup>

          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact no.</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider text-secondary">
            <ng-container *ngFor="let data of [1]; let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>Trisha Mancao</td>
                <td>trishamancao@gmail.com</td>
                <td>09158403240</td>
                <td class="text-center">
                  <ng-container *ngIf="appService.userRole === 'admin'">
                    <!-- <ion-button color="primary" size="small">
                      <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
                    </ion-button>
                    &nbsp; -->
                    <ion-button color="danger" size="small">
                      <ion-icon slot="icon-only" name="trash-bin" color="dark"></ion-icon>
                    </ion-button>
                  </ng-container>
                  <ng-container *ngIf="appService.userRole === 'user' || appService.userRole === 'consultant' || appService.userRole === 'admin'">
                    &nbsp;
                    <ion-button color="primary" size="small" routerLink="/consultant-information">
                      <ion-icon slot="icon-only" name="eye" color="dark"></ion-icon>
                    </ion-button>
                  </ng-container>
                </td>
              </tr>

              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>Jolina Buquia </td>
                <td>Jolinabuquia@gmail.com</td>
                <td>09999999999</td>
                <td class="text-center">
                  <ng-container *ngIf="appService.userRole === 'admin'">
                    <!-- <ion-button color="primary" size="small">
                      <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
                    </ion-button>
                    &nbsp; -->
                    <ion-button color="danger" size="small">
                      <ion-icon slot="icon-only" name="trash-bin" color="dark"></ion-icon>
                    </ion-button>
                  </ng-container>
                  <ng-container *ngIf="appService.userRole === 'user' || appService.userRole === 'consultant' || appService.userRole === 'admin'">
                    &nbsp;
                    <ion-button color="primary" size="small" routerLink="/consultant-information">
                      <ion-icon slot="icon-only" name="eye" color="dark"></ion-icon>
                    </ion-button>
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>Will Tenorio</td>
                <td>willtenorio@gmail.com</td>
                <td>09158789677</td>
                <td class="text-center">
                  <ng-container *ngIf="appService.userRole === 'admin'">
                    <!-- <ion-button color="primary" size="small">
                      <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
                    </ion-button>
                    &nbsp; -->
                    <ion-button color="danger" size="small">
                      <ion-icon slot="icon-only" name="trash-bin" color="dark"></ion-icon>
                    </ion-button>
                  </ng-container>
                  <ng-container *ngIf="appService.userRole === 'user' || appService.userRole === 'consultant' || appService.userRole === 'admin'">
                    &nbsp;
                    <ion-button color="primary" size="small" routerLink="/consultant-information">
                      <ion-icon slot="icon-only" name="eye" color="dark"></ion-icon>
                    </ion-button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
