<ion-header>
  <ion-toolbar class="text-center">
    <ion-title><b>Consultant Information</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="home-button-style">
    <div class="d-flex justify-content-center">
      <img alt="Silhouette of mountains" src="../../../assets/img/conversation.png" class="user-patient-style"/>
    </div>
    
    <ion-card-header class="text-center">
      <ion-card-title>Trisha mancao</ion-card-title>
      <ion-card-subtitle>cebu city, Philippines</ion-card-subtitle>
    </ion-card-header>

    <hr>
  
    <ion-card-content>
      <ion-toolbar>
        <h4>Consultant Information</h4>
        <ng-container *ngIf="appService.userRole === 'consultant'">
          <ion-button slot="end" fill="clear" shape="round" (click)="modalClick('consultant-info', true)">
            <ion-icon name="create-outline" size="large"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-toolbar>

      <ion-item lines="full">
        <ion-icon slot="start" name="mail" color="dark" size="large"></ion-icon>
        <ion-label>Email: trishamancao@gmail.com</ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="call" size="large"></ion-icon>
        <ion-label>Contact no: 09225874656</ion-label>
      </ion-item>
    </ion-card-content>

    <ng-container *ngIf="appService.userRole === 'consultant'">
      <hr>
  
      <ion-card-content>
        <ion-toolbar>
          <h4>Consultant Account</h4>
          <ng-container *ngIf="appService.userRole === 'consultant'">
            <ion-button slot="end" fill="clear" shape="round" (click)="modalClick('consultant-account', true)">
              <ion-icon name="create-outline" size="large"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-toolbar>
        
        <ion-item lines="full">
          <ion-icon slot="start" name="person" color="dark" size="large"></ion-icon>
          <ion-label>Username: trishamancao953</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="key" size="large"></ion-icon>
          <ion-label>Password: ************</ion-label>
        </ion-item>
      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="appService.userRole === 'user'">
      <hr>

      <ion-card-content>
        <ion-toolbar>
          <h4>Add Feedback</h4>
        </ion-toolbar>
        
        <div class="m-3">
          <ion-textarea class="custom-textarea" placeholder="Add feedback here..."></ion-textarea>
        </div>
    
        <div class="p-3">
          <ion-button fill="solid" color="primary" expand="full" size="large">Submit</ion-button>
        </div>
      </ion-card-content>
    </ng-container>
  </ion-card>
</ion-content>

<!-- [start]::Edit consultant modal -->
<ion-modal [isOpen]="isOpenConsultantInfo" [isOpen]="isOpenConsultantInfo" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="text-center"><b>Edit Consultant</b></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <div class="d-flex justify-content-center mt-4">
          <img alt="Silhouette of mountains" src="../../../assets/img/examination.png" class="user-patient-style"/>
        </div>

        <ion-list class="m-4">
          <ion-item fill="outline">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">First name</ion-label>
            <ion-input placeholder="Enter text" value="Trisha"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">Middle initial</ion-label>
            <ion-input placeholder="Enter text" maxLength="1" value=""></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">Last name</ion-label>
            <ion-input placeholder="Enter text" value="Mancao"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
            <ion-label position="floating">Email address</ion-label>
            <ion-input placeholder="Enter text" value="trishamancao@gmail.com"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="call-outline" color="primary"></ion-icon>
            <ion-label position="floating">Contract no.</ion-label>
            <ion-input type="number" placeholder="Enter text" value="09552145566"></ion-input>
          </ion-item>
        </ion-list>

        <ion-toolbar class="toolbar-footer-button">
          <ion-buttons slot="end">
            <ion-button (click)="modalClick('consultant-info', false)" fill="outline">Cancel</ion-button>
          </ion-buttons>&nbsp;&nbsp;
          <ion-buttons slot="end">
            <ion-button (click)="confirm('consultant-info')" fill="outline" [strong]="true" color="primary">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- [end]::Edit consultant modal -->

<!-- [start]::Edit consultant account modal -->
<ion-modal [isOpen]="isOpenConsultantAccount" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="text-center"><b>Edit Consultant Account</b></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <div class="d-flex justify-content-center mt-4">
          <img alt="Silhouette of mountains" src="../../../assets/img/examination.png" class="user-patient-style"/>
        </div>

        <ion-list class="m-4">
          <ion-item fill="outline">
            <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
            <ion-label position="floating">Username</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Enter new password</ion-label>
            <ion-input type="password" placeholder="Enter text"></ion-input>
          </ion-item>
    
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-list>

        <ion-toolbar class="toolbar-footer-button">
          <ion-buttons slot="end">
            <ion-button (click)="modalClick('consultant-account', false)" fill="outline">Cancel</ion-button>
          </ion-buttons>&nbsp;&nbsp;
          <ion-buttons slot="end">
            <ion-button (click)="confirm('consultant-account')" fill="outline" [strong]="true" color="primary">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- [end]::Edit consultant account modal -->
