<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header class="text-center">
      <ion-card-title>User Registration</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="userForm">
        <ion-list>
          <ion-item fill="outline">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">First name</ion-label>
            <ion-input formControlName="firstName" placeholder="Enter text"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">Middle initial</ion-label>
            <ion-input formControlName="middleName" placeholder="Enter text" maxLength="1"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">Last name</ion-label>
            <ion-input formControlName="lastName" placeholder="Enter text"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
            <ion-label position="floating">Email address</ion-label>
            <ion-input placeholder="Enter text" formControlName="emailAddress"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="call-outline" color="primary"></ion-icon>
            <ion-label position="floating">Contract no.</ion-label>
            <ion-input type="number" formControlName="contactNo" placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-list>
  
        <hr>
  
        <ion-list>
          <ion-item fill="outline">
            <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="userName" placeholder="Enter text"></ion-input>
          </ion-item>
          
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Enter text"></ion-input>
          </ion-item>
  
          <!-- <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" placeholder="Enter text"></ion-input>
          </ion-item> -->
        </ion-list>
      </form>

      <ion-button expand="full" size="large" (click)="signUp()">Register</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>