<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header class="text-center">
      <ion-card-title>User Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="userLoginForm">
        <ion-list>
          <ion-item fill="outline">
            <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
            <ion-label position="floating">Username</ion-label>
            <ion-input placeholder="Enter text" formControlName="username"></ion-input>
          </ion-item>
          
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" placeholder="Enter text" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <ion-button expand="full" size="large" (click)="login()">Submit</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>