<!-- <ion-header>
  <ion-toolbar>
    <ion-title>admin-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card routerLink="/user-page">
    <div class="d-flex justify-content-center">
      <div>
        <img alt="Silhouette of mountains" src="../../../assets/img/software-engineer.png" class="user-patient-style" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="text-center">Admin</ion-card-title>
    </ion-card-header>

    <div class="p-4">
      <ion-button expand="full" size="large" (click)="navigate('/admin-login')">
        <ion-icon slot="start" name="log-in" class="dark"></ion-icon>
        Login
      </ion-button>
    </div>
  </ion-card>
</ion-content>
