<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="text-center">System maintenance</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="home-button-style">
    <div class="d-flex justify-content-center">
      <div>
        <img alt="Silhouette of mountains" src="../../../assets/img/web-maintenance.png" class="user-patient-style" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="text-center"><h1><b>System Maintenance</b></h1></ion-card-title>
    </ion-card-header>

    <hr>

    <ion-list>
      <ion-radio-group [allowEmptySelection]="true" value="turtles">
        <ion-item>
          <ion-label>Enabled</ion-label>
          <ion-radio slot="end" value="dogs"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Disabled</ion-label>
          <ion-radio slot="end" value="cats"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div class="m-3">
      <ion-textarea class="custom-textarea" placeholder="Add maitenance message here..."></ion-textarea>
    </div>

    <div class="p-3">
      <ion-button fill="solid" color="primary" expand="full" size="large">Save</ion-button>
    </div>
  </ion-card>
</ion-content>
