<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container-blue">
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="time">12:00 PM</div>
  </div>

  <div class="chat-container-purple">
    <div class="time">12:00 PM</div>
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <div class="chat-container-blue">
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="time">12:00 PM</div>
  </div>

  <div class="chat-container-purple">
    <div class="time">12:00 PM</div>
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <div class="chat-container-blue">
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="time">12:00 PM</div>
  </div>

  <div class="chat-container-purple">
    <div class="time">12:00 PM</div>
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <div class="chat-container-blue">
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="time">12:00 PM</div>
  </div>

  <div class="chat-container-purple">
    <div class="time">12:00 PM</div>
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <div class="chat-container-blue">
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="time">12:00 PM</div>
  </div>

  <div class="chat-container-purple">
    <div class="time">12:00 PM</div>
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <div class="chat-container-blue">
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="time">12:00 PM</div>
  </div>

  <div class="chat-container-purple">
    <div class="time">12:00 PM</div>
    <div class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Message here..." class="custom"></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="medium">Send</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
