<!-- <ion-header>
  <ion-toolbar>
    <ion-title>user-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="home-button-style">
    <div class="d-flex justify-content-center">
      <div>
        <img alt="Silhouette of mountains" src="../../../assets/img/examination.png" class="user-patient-style" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="text-center"><h1><b>User Patient</b></h1></ion-card-title>
    </ion-card-header>

    <div class="p-4">
      <ion-button expand="full" size="large" (click)="appService.navigateTo('/user-login')">
        <ion-icon slot="start" name="log-in" class="dark"></ion-icon>
        Login
      </ion-button>
      <br>
      <ion-button expand="full" size="large" (click)="appService.navigateTo('/user-signup')">
        <ion-icon slot="start" name="create-outline" class="dark"></ion-icon>
        Register
      </ion-button>
    </div>
  </ion-card>
</ion-content>
