<app-header-side-menu [routeList]="routeList">
  <ng-container cardBoxBody>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ng-container>
</app-header-side-menu>