<ion-header>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Search post here..."></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="medium">Search</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="appService.userRole === 'user'">
    <ion-card class="timeline-container">
      <ion-toolbar>
          <div class="p-3">
            <ion-textarea class="custom-textarea" placeholder="Post message here..."></ion-textarea>
          </div>
          <ion-buttons slot="end">
            <ion-button fill="solid" color="medium">Post</ion-button>
          </ion-buttons>
      </ion-toolbar>
    </ion-card>
  </ng-container>

  <ng-container *ngFor="let data of [1, 2, 3, 4]">
    <ion-card class="timeline-container">
      <div class="button-pos">
        <ion-button fill="clear" size="small">
          <ion-icon slot="icon-only" name="create" color="primary" size="large"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="small">
          <ion-icon slot="icon-only" name="trash" color="danger" size="large"></ion-icon>
        </ion-button>
      </div>

      <ion-card-header>
        <ion-card-title>
          <img src="../../../assets/img/examination.png"  class="timeline-profile-style" alt="">
          Joseph Presbitero
          <div class="datetime-style">
            <span>Jan 06, 2023 4hrs ago</span>
          </div>
        </ion-card-title>
        <ion-card-subtitle>Feeling blue, what to do?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <hr>
        <div id="comment">
          <div>Comment</div>
  
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../../assets/img/conversation.png" />
              </ion-thumbnail>
              <ion-label>
                <b>Trisha Mancao</b>
                <div class="comment-style">Up for a talk?</div>
                <div class="datetime-style">
                  <span>Jan 06, 2023 4hrs ago</span>
                </div>
              </ion-label>
            </ion-item>
  
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../../assets/img/conversation.png" />
              </ion-thumbnail>
              <ion-label>
                <b>Jolina Buquia </b>
                <div class="comment-style">My time is open for you</div>
                <div class="datetime-style">
                  <span>Jan 06, 2023 4hrs ago</span>
                </div>
              </ion-label>
            </ion-item>
  
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../../assets/img/conversation.png" />
              </ion-thumbnail>
              <ion-label>
                <b>Will Tenorio</b>
                <div class="comment-style">Shot?</div>
                <div class="datetime-style">
                  <span>Jan 06, 2023 4hrs ago</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>

          <ng-container *ngIf="appService.userRole === 'consultant'">
            <div class="m-3">
              <ion-textarea class="custom-textarea" placeholder="Add comment here..."></ion-textarea>
            </div>
        
            <div class="p-3">
              <ion-button fill="solid" color="primary" expand="full" size="large">Send</ion-button>
            </div>
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
