ion-item {
  --padding-start: 0;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.timeline-profile-style {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #607d8b;
    box-shadow: 0px 0px 10px black;
    background: white;
}

.datetime-style {
    font-size: 13px;
    color: gray;
    margin-top: 15px;
    font-style: oblique;
}

.timeline-container {
    margin-top: 30px;
}   

.button-pos {
    position: absolute;
    right: 15px;
    top: 10px;
}