<ion-header>
  <ion-toolbar class="text-center">
    <ion-title>Admin Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="home-button-style">
    <div class="d-flex justify-content-center">
      <img alt="Silhouette of mountains" src="../../../assets/img/software-engineer.png" class="user-patient-style"/>
    </div>
    
    <ion-card-header class="text-center">
      <ion-card-title>Racquel saballa</ion-card-title>
      <ion-card-subtitle>Cebu City, Philippines</ion-card-subtitle>
    </ion-card-header>

    <hr>
  
    <ion-card-content>
      <ion-toolbar>
        <h4>Admin Information</h4>
        <ion-button slot="end" fill="clear" shape="round" (click)="modalClick('admin-info', true)">
          <ion-icon name="create-outline" size="large"></ion-icon>
        </ion-button>
      </ion-toolbar>

      <ion-item lines="full">
        <ion-icon slot="start" name="mail" color="dark" size="large"></ion-icon>
        <ion-label>Email: racquelsaballa@gmail.com</ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="call" size="large"></ion-icon>
        <ion-label>Contact no: 09885757578</ion-label>
      </ion-item>
    </ion-card-content>

    <hr>
  
    <ion-card-content>
      <ion-toolbar>
        <h4>Admin Account</h4>
        <ion-button slot="end" fill="clear" shape="round" (click)="modalClick('admin-account', true)">
          <ion-icon name="create-outline" size="large"></ion-icon>
        </ion-button>
      </ion-toolbar>
      
      <ion-item lines="full">
        <ion-icon slot="start" name="person" color="dark" size="large"></ion-icon>
        <ion-label>Username: racquelsaballa953</ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="key" size="large"></ion-icon>
        <ion-label>Password: ************</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- [start]::Edit admin modal -->
<ion-modal [isOpen]="isOpenAdminInfo" [isOpen]="isOpenAdminInfo" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="text-center"><b>Edit Admin</b></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <div class="d-flex justify-content-center mt-4">
          <img alt="Silhouette of mountains" src="../../../assets/img/software-engineer.png" class="user-patient-style"/>
        </div>

        <ion-list class="m-4">
          <ion-item fill="outline">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">First name</ion-label>
            <ion-input placeholder="Enter text" value="Racquel"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">Middle initial</ion-label>
            <ion-input placeholder="Enter text" maxLength="1" value=""></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
            <ion-label position="floating">Last name</ion-label>
            <ion-input placeholder="Enter text" value="Saballa"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
            <ion-label position="floating">Email address</ion-label>
            <ion-input placeholder="Enter text" value="racquelsaballa@gmail.com"></ion-input>
          </ion-item>
  
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="call-outline" color="primary"></ion-icon>
            <ion-label position="floating">Contract no.</ion-label>
            <ion-input type="number" placeholder="Enter text" value="09225932599"></ion-input>
          </ion-item>
        </ion-list>

        <ion-toolbar class="toolbar-footer-button">
          <ion-buttons slot="end">
            <ion-button (click)="modalClick('admin-info', false)" fill="outline">Cancel</ion-button>
          </ion-buttons>&nbsp;&nbsp;
          <ion-buttons slot="end">
            <ion-button (click)="confirm('admin-info')" fill="outline" [strong]="true" color="primary">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- [end]::Edit admin modal -->

<!-- [start]::Edit admin account modal -->
<ion-modal [isOpen]="isOpenAdminAccount" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="text-center"><b>Edit Admin Account</b></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <div class="d-flex justify-content-center mt-4">
          <img alt="Silhouette of mountains" src="../../../assets/img/software-engineer.png" class="user-patient-style"/>
        </div>

        <ion-list class="m-4">
          <ion-item fill="outline">
            <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
            <ion-label position="floating">Username</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Enter new password</ion-label>
            <ion-input type="password" placeholder="Enter text"></ion-input>
          </ion-item>
    
          <ion-item fill="outline" class="mt-3">
            <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-list>

        <ion-toolbar class="toolbar-footer-button">
          <ion-buttons slot="end">
            <ion-button (click)="modalClick('admin-account', false)" fill="outline">Cancel</ion-button>
          </ion-buttons>&nbsp;&nbsp;
          <ion-buttons slot="end">
            <ion-button (click)="confirm('admin-account')" fill="outline" [strong]="true" color="primary">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- [end]::Edit admin account modal -->
