<ion-content>
  <ion-card routerLink="/user-page" class="home-button-style ion-activatable ripple-parent rectangle">
    <ion-ripple-effect></ion-ripple-effect>
    <div class="d-flex justify-content-center">
      <div>
        <img alt="Silhouette of mountains" src="../../../assets/img/examination.png" class="user-patient-style" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="text-center"><h1><b>User Patient</b></h1></ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/consultant-page" class="home-button-style ion-activatable ripple-parent rectangle">
    <ion-ripple-effect></ion-ripple-effect>
    <div class="d-flex justify-content-center">
      <div>
        <img alt="Silhouette of mountains" src="../../../assets/img/conversation.png" class="user-patient-style" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="text-center"><h1><b>Consultant</b></h1></ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/admin-page" class="home-button-style ion-activatable ripple-parent rectangle">
    <ion-ripple-effect></ion-ripple-effect>
    <div class="d-flex justify-content-center">
      <div>
        <img alt="Silhouette of mountains" src="../../../assets/img/software-engineer.png" class="user-patient-style" />
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="text-center"><h1><b>Admin</b></h1></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>