/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  --ion-font-family: "Roboto Mono", monospace !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* mobile background */
ion-content {
  --ion-background-color: #3c3c3c !important;
}

/* common css */
.table-min-width {
  min-width: 1000px;
}

.user-patient-style {
  width: 130px;
}

.home-button-style {
  padding: 15px 0px;
}

.button-icon-pos-right {
  text-align: right;
  padding: 0px 0px;
}

.toolbar-footer-button {
  padding: 0px 20px 12px 20px;
}

ion-input.custom {
  --background: #373737;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}

.chat-container-blue {
  display: flex;
  align-items: center;

  .message {
    background: blue;
    display: table;
    width: 60%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 14%);
  }

  .time {
    font-size: 13px;
  }
}

.chat-container-purple {
  display: flex;
  align-items: center;
  justify-content: end;

  .message {
    background: purple;
    display: table;
    width: 60%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 14%);
    float: right;
  }

  .time {
    font-size: 13px;
  }
}

ion-textarea.custom-textarea {
  --background: #373737;
  --color: #fff;
  --padding-end: 10px;
  --padding-start: 10px;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;
}

.header-user-profile {
  img {
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 20px;
    background: white;
  }
}

.header-user-type {
  color: #8f8f8f;
  font-weight: 100;
  margin-right: 15px;
  font-size: 12px;
  text-transform: uppercase;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;

  color: #1c6dff;
}
