<ion-app>
  <ion-menu contentId="main-content" (ionWillOpen)="onMenuChange()">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div class="d-flex align-items-center justify-content-center">
            <div class="p-2 mt-1">
              <img src="../../../assets/img/logo.png" style="width: 150px;" alt="">
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="background: #000;">
      <ion-list lines="full">
        <ng-container *ngFor="let r of routeList; let rIndex = index;">
          <ng-container *ngIf="r.role === appService.userRole">
            <ion-item class="ion-activatable ripple-parent rounded-rectangle" color="medium" (click)="toggleNav(rIndex)">
              <ion-icon slot="start" [name]="r.icon" color="dark"></ion-icon>
              <ion-label>{{ r.name }}</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
  
            <ion-list lines="inset" *ngIf="r.isOpen">
              <ng-container *ngFor="let c of r.children; let cIndex = index;">
                <ion-item class="ion-activatable ripple-parent rounded-rectangle" (click)="navigateTo(c.path)">
                  <ion-label>{{ c.name }}</ion-label>
                  <ion-badge color="danger" *ngIf="c?.hasNotification">2</ion-badge>
                  <ion-ripple-effect></ion-ripple-effect>
                </ion-item>
              </ng-container>
            </ion-list>
          </ng-container>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" *ngIf="appService.userRole">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <div class="d-flex align-items-center justify-content-center">    
            <div class="p-2">
              <img src="../../../assets/img/logo.png" style="width: 150px;" alt="">
            </div>
          </div>
        </ion-title>
        <!-- <ion-buttons slot="end">
          <ion-button fill="outline" color="medium" size="small" (click)="logout()">Logout</ion-button>
        </ion-buttons> -->
        <!-- <ion-buttons slot="end">
          <ion-button color="medium" size="large" routerLink="/home" (click)="back()">
            <ion-icon name="arrow-back-circle" color="medium"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        <div class="header-user-type" slot="end">{{ appService.userRole }}</div>

        <div class="header-user-profile" slot="end">
          <img *ngIf="appService.userRole === 'user'" src="../../../assets/img/examination.png" alt="">
          <img *ngIf="appService.userRole === 'consultant'" src="../../../assets/img/conversation.png" alt="">
          <img *ngIf="appService.userRole === 'admin'" src="../../../assets/img/software-engineer.png" alt="">
        </div>
      </ion-toolbar>
    </ion-header>

    <ng-content select="[cardBoxBody]"></ng-content>
  </div>
</ion-app>