<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Admin List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div class="table-responsive">
        <table class="table table-bordered border-secondary table-min-width text-white mt-2">
          <colgroup width="5%"></colgroup>
          <colgroup width="25%"></colgroup>
          <colgroup width="25%"></colgroup>
          <colgroup width="25%"></colgroup>
          <colgroup width="20%"></colgroup>

          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact no.</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider text-secondary">
            <ng-container *ngFor="let data of [1, 2, 3, 4, 5]; let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>Racquel Saballa</td>
                <td>racquelsaballa@gmail.com</td>
                <td>09887575745</td>
                <td class="text-center">
                  <ion-button color="primary" size="small" routerLink="/admin-information">
                    <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
                  </ion-button>
                  &nbsp;
                  <ion-button color="danger" size="small">
                    <ion-icon slot="icon-only" name="trash-bin" color="dark"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
